@import '../../styles/variables';

.mapContainer {
    max-width: 800px;
    padding: 16px 32px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 8px;
    border: 1px solid $accentClr;
    margin-bottom: 32px;

    @media (max-width: 768px) {
        padding: 16px;
    }

    .map {
        border-radius: 8px;
    }
}