@import '../../styles/variables';

.deviceDetailsSection {
    width: 100%;
    padding: 16px 64px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 64px;

    @media (max-width: 768px) {
        padding: 16px;
    }
}

.resultPlaceholder {
    margin-top: 32px;
    text-align: center;
    color: $txtSecondary;
}